/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

i {
  vertical-align: middle;
}

.border {
  border: 1px solid #000000;
}

.line-break {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.column-container {
  display: flex;
  flex-direction: column;
}
