:host {
  display: block;
  width: 870px;
  margin-left: 30px;
  margin-top: 64px;

  .header {
    display: flex;
    width: 100%;

    .title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      line-height: 1.23;
      text-align: left;
      color: #4e4d4d;
    }

    .filter {
      margin-left: auto;
      padding-top: 5px;
    }
  }

  .items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .item {
      margin-top: 50px;
      margin-right: 30px;

      &:nth-child(3n + 0) {
        margin-right: 0px;
      }
    }
  }

  .footer-container {
    padding: 20px;
  }
}
