<div class="menu">
  <div class="vertical-align">
    <div class="menu-item">
      <a [routerLink]="['home']" routerLinkActive="router-link-active">Home</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['about']">About&nbsp;us</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['shop']">Shop</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['blog']">Blog</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['contact']" routerLinkActive="router-link-active"
        >Contact</a
      >
    </div>
  </div>
</div>
<div class="search-bar">search</div>
<div class="notifications-bar">notification</div>
