:host {
  display: block;
  background-color: #ffffff;

  .title {
    display: block;
    font-size: 16px;
    line-height: 1.63;
    color: #4e4d4d;
    margin-bottom: 11px;
  }

  .input {
    width: 54px;
    height: 47px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #4e4d4d;
    line-height: 1.19;
    text-align: center;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 1px 0px 1px 0px;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  .button {
    opacity: 0.7;
    width: 45px;
    height: 47px;
    border: solid 1px #f2f2f2;
    padding: 10px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
