<div class="header"><span class="line"></span>Special Festival Offer</div>
<div class="title">Upto 55% Off</div>

<div class="description">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto velit
  voluptas eius ex! Eveniet, rerum voluptatum. Aliquid voluptates sunt nulla
  assumenda sapiente ipsam enim reiciendis, quos iste quidem quia doloribus,
  officia rem soluta id fugit! Impedit aliquid modi vitae dolore accusantium
  facere praesentium, repellat, quia officia neque nulla? Vero, at.
</div>

<div class="redirect">
  <a>
    <span></span>
    Shop Now
    <i class="material-icons">arrow_right_alt</i>
  </a>
</div>
