:host {
  display: block;
  width: 100%;
  padding: 30px 0 0 24px;
  background-color: #f4f4f4;

  .title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 2.5;
    color: #4e4d4d;
  }

  .filter-item a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    line-height: 2.65;
    color: #4e4d4d;
    cursor: pointer;

    &:hover, .selected {
      color: #ff7b13;
    }
  }
}
