<app-shop-product-info
  [productInfo]="{
    id: 'PRID-00001',
    title: 'Wooden Bed - Solimo Cleo Metal King Bed (Black)',
    images: [
      'https://via.placeholder.com/570x545',
      'https://via.placeholder.com/570x545',
      'https://via.placeholder.com/570x545',
      'https://via.placeholder.com/570x545',
      'https://via.placeholder.com/570x545'
    ],
    rating: 4.5,
    hearted: true,
    price: 115,
    oldPrice: 65,
    shortDescription:
      'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia numquam eum inventore quam magni quidem minus tenetur illum hic, laboriosam nostrum ex cumque necessitatibus saepe quae id, iure blanditiis omnis eos aut aperiam.    Aperiam, harum quis. Mollitia animi ea aspernatur adipisci nemo doloremque cum, recusandae quo, necessitatibus ducimus aliquam ipsum.'
  }"
></app-shop-product-info>

<!-- https://via.placeholder.com/570x545 -->
<!-- https://picsum.photos/200/300?random=1 -->
